<nav class="sidebar">
    <div class="sidebar-header">
        <img src="../../../assets/alianza.png" alt="Logo-Alianza">
    </div>
    <ul>
        <li class="item">
            <div class="icon">
                <i class="bi bi-person fa-5x custom-icon"></i>
            </div>
            <div>
                <a [routerLink]="['/clients']">Clients</a>
            </div>
        </li>
        <li class="item">
            <div class="icon"></div>
            <div>
                <a [routerLink]="['/clients']">Client look history</a>
            </div>
        </li>
        <li class="item">
            <div class="icon"></div>
            <div>
                <a [routerLink]="['/clients']">Emergency PIN configuration</a>
            </div>
        </li>
        <li class="item">
            <div class="icon"></div>
            <div>
                <a [routerLink]="['/clients']">Emergency PIN history</a>
            </div>
        </li>
    </ul>
</nav>